.techs__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 36%;
    margin-bottom: 100px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .techs__text {
        font-size: 11px;
        line-height: 16px;
    }
}