.logreg__button {
    border: none;
    height: 45px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2BE080;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color:#FFFFFF;
    cursor: pointer;
    margin-top: 147px;
    margin-bottom: 16px;
    border-radius: 6px 6px 6px 6px;
    }
    
    .popup__add-button:hover {
        opacity: 0.8;
    }
    
    @media screen and (max-width: 950px) {
        .popup__add-button {
            height: 40px;
            width: 200px;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 30px;
        }
    }
